body{
  background-color:#FFF; 
  font-family:"Open Sans", sans-serif; 
  font-size:14px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  text-decoration: none;
  color:#000;
}

a:hover {
  text-decoration: none;
  color:#606060 ;
}

h1 {
  color:0F0F0F;
  text-align: left;
  margin: 0;
}

p {
  font size: 20px;
  color: #000;
  text-align: left;
  margin: 10px;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 20%;
  -webkit-margin-end: 0px;
}

h1 {
  font-size: 30px;
  font color:#FFFFFF;
  text-align: left;
  margin: 0px;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 20%;
  -webkit-margin-end: 0px;
}

.navigation {
  background-image:url('img/sneaker_mesh_fabric.png');
  list-style-type: none;
  padding: 0;
  text-align: right;
  padding: 8px 20% 8px 20px;
  font-size:16px;
}
